button{
    width: 125px;
    height: 40px;
    background-color: #0073ff;
    border: none;
    border-radius: 12px;
    color: white;
    margin-right: 12px;
    cursor: pointer;
}
button:disabled{
    opacity: 0.7;
    cursor: auto;
}
.cancel {
    background-color: #ed1236;
}