.card {
    margin: 12px;
    border-radius: 5px;
    padding: 7px 11px;
    cursor: pointer;
}

.card-img-top {
    object-fit: cover;
}

@media (min-width: 576px) {
  .card-img-top {
      height: 19vw;
  }
}

@media (min-width: 768px) {
  .card-img-top {
      height: 16vw;
  }
}

@media (min-width: 992px) {
  .card-img-top {
      height: 11vw;
  }
}

@media (min-width: 992px) {
  .card-img-top {
      height: 11vw;
  }
}