.progress-bar {
    position: fixed;
    top:0;
    left: 0;
    height: 25px;
    width: 0%;
    background-color: blue;
}
.nav-bar{
    width: 100%;
    height: 60px;
    background-color: #0073ff;
    color:white;
    margin-bottom: 12px;
}

.full-width-table {
    width: 100%;
    height: 500px;
}
.mat-column-login {
    width: 15% !important;
}
.mat-column-id {
    width: 15% !important;
}
.mat-column-node_id {
    width: 30% !important;
}
.mat-column-html {
    width: 30% !important;
}
.mat-column-type {
    width: 10% !important;
}

::ng-deep .style-message-error {
    background-color: #dc143c;
    color:white;

    .mat-simple-snackbar-action {
        color: white;
        font-weight: bold;
    }
}