.content {
	display: flex;
	overflow: auto;
	height: 100%;
	min-width: 100%;
	padding: 2em;
}

.taskCard {
	border-radius: 12px;
	height: 600px;
	background-color: #d3e1f0;
	box-shadow: 0 0 8px #0000001e;
	margin: 14px;
	width: 300px;
	position: relative;
}

.header {
	text-align: center;
	height: 45px;
	color: white;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.todo {
	background-color: #ee881a;
}

.doing {
	background-color: #4ac4e6;
}

.done {
	background-color: #3eda89;
}

.taskItem {
	margin: 8px;
	padding: 8px;
	border-radius: 8px;
	background-color: white;
	cursor: grab;
}